* {
  padding: 0;
  margin: 0;
}

:root {
  --max-width: 1440px;
}

.container {
  max-width: var(--max-width);
  margin-inline: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo {
  padding: 26.12px 90px;
}

.nav {
  padding: 70px 0px;
  margin-left: 500px;
  display: flex;
  column-gap: 100px;
  font-weight: 600;
  font-size: 20px;
}
.img {
  display: flex;
  flex-direction: column;
  background-image: url("./img1.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  padding: 20px;
}
.img h2 {
  padding: 20px 340px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f7f7f7;
}

.img h1 {
  padding: 10px 340px;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.img h3 {
  padding: 20px 340px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #f7f7f7;
}
.button {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  margin-bottom: 100px;
}
.b1 {
  background-color: orangered;
  border: 1px;
  border-radius: 20px;
  width: 150px;
  height: 65px;
  font-size: 24px;
  font-weight: 700;
  color: white;
}
.b2 {
  background-color: transparent;
  border-radius: 20px;
  border: 1px solid white;
  font-size: 24px;
  font-weight: 700;
  width: 150px;
  height: 65px;
  color: white;
}

.section2 {
  position: relative;
}

.group {
  position: relative;
  top: -250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  display: flex;
  align-items: center;
  width: 800px;
}
.middle {
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 44px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #000000;
  opacity: 0.8;
}

.section3 {
  display: flex;
  justify-content: space-evenly;
}

.leftimg {
  margin: 00px 20px 20px 0px;
}

.rightpara {
  margin: 250px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.rightpara h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fa4a0c;
}
.rightpara h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 500px;
}

.rightpara h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 500px;
}

.section4 {
  display: flex;
  justify-content: space-evenly;
}

.leftpara {
  margin: 200px 20px 20px 0px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.leftpara h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fa4a0c;
}
.leftpara h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 400px;
}

.leftpara h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 500px;
}

.section5 {
  display: flex;
  justify-content: space-evenly;
}

.lastpara {
  margin: 280px 20px 20px 0px;
}

.lastpara h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.1px;
  color: #fa4a0c;
}
.lastpara h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252b42;
  max-width: 500px;
}

.lastpara h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.2px;
  color: #737373;
  max-width: 500px;
}

.img1 {
  display: flex;
  flex-direction: column;
  background-image: url("./img5.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px;
  color: white;
  align-items: center;
}
.img1 h2 {
  padding: 10px 340px;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #f7f7f7;
}

.img1 h1 {
  padding: 50px 340px 0px;
  font-weight: 700;
  font-size: 58px;
  line-height: 80px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}
.img1 h3 {
  padding: 20px 340px;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 20px 340px 20px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footerimg {
  display: flex;
  padding: 70px;
}
.navimg {
  display: flex;
  width: 100px;
  height: 50px;
}
.footer h2 {
  padding: 80px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  text-align: right;
  letter-spacing: 0.1px;
  color: #5c5c5c;
}
.logo {
  padding: 26.12px 90px;
}
